# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Environment
# -----------------------
.env
.env.*
venv/
.venv/

# -----------------------
# Airflow
# -----------------------
airflow/logs/
airflow/*.db

# -----------------------
# dbt
# -----------------------
target/
dbt_packages/
logs/
.dbt/

# -----------------------
# Data files (IMPORTANT)
# -----------------------
data/
*.csv
*.parquet

# -----------------------
# Credentials (CRITICAL - DO NOT COMMIT)
# -----------------------
gcp-credentials.json
*.json

# -----------------------
# OS / Editor
# -----------------------
.DS_Store
.vscode/
.idea/

# -----------------------
# Notebooks
# -----------------------
*.ipynb_checkpoints

# -----------------------
# Terraform
# -----------------------
.terraform/
terraform.tfstate*
terraform.tfvars

.user.yml