# -------------------
# Data
# -------------------
data/*
!data/.gitkeep

# -------------------
# Environment
# -------------------
.env

# -------------------
# Python
# -------------------
__pycache__/
*.pyc

# -------------------
# Jupyter
# -------------------
.ipynb_checkpoints/

# -------------------
# dbt
# -------------------
dbt/energy_project/target/
dbt/energy_project/dbt_packages/
dbt/energy_project/logs/

# -------------------
# OS / misc
# -------------------
.DS_Store

*.json